@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
:root {
  --secondaryColor: #e6e6e6;
  --textSecondaryColor: #666;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/* globals */
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
main {
  padding-top: 60px;
}
/* utility */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* header  */
header {
  position: fixed;
  background: white;
  padding: 15px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  border-bottom: 1px solid var(--secondaryColor);
}

.navigation {
  display: flex;
  gap: 1.1rem;
}

/* hero section */
.heroLeft img {
  height: 400px;
}
.heroRight > p {
  padding: 7px 0;
  text-align: justify;
}
.heroRight .heroHeader {
  font-weight: 900;
  font-size: 1.5rem;
}
.heroRight .heroAuthor {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--textSecondaryColor);
}
