* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
header {
  position: fixed;
  padding: 10px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 20px;
}
