@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}
header {
  position: relative;
}

nav {
  position: absolute;
  top: 10px;
  color: white;
  font-size: 10px;
  width: 95%;
  display: grid;
  grid-template-columns: 100px auto;
}
.navRight {
  display: flex;
  gap: 10px;
  justify-self: flex-end;
}

.rotatedText {
  position: absolute;
  right: -47px;
  top: 90px;
  color: white;
  transform: rotate(270deg);
  font-size: 6px;
  text-transform: uppercase;
}
